<!--TODO where are defined profile__header, profile__username, profile__tagline classes?-->
<div class="profile" ng-show="vm.profile">
    <div class="jumbotron profile__header" >
        <h1 class="profile__username">
            +{{ vm.profile.username }}
        </h1>
        <p class="profile__tagline">
            {{ vm.profile.tagline }}
        </p>
    </div>
    <!--TODO there is bug where posts do not appear sometimes, I think it is related with directive variable posts-->
    <!--<h3 ng-repeat="post in vm.posts"> {{ post.content }} </h3>-->

    <posts posts="vm.posts"></posts>
</div>
